# File-extensions universal ignores

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# Ignoring PDF produced during testing
# Only the production PDF needs to be pushed (./LaTeX-For-The-IB.pdf)

src/Main.pdf
/test/

# macOS's annoying file
.DS_Store
